@charset "UTF-8";

body{
    background-image: url(fundo-contato.png);
    background-position: center center;
    background-size: contain;
}

footer{
    margin: 0;
}

.h1-padrao{
    color: var(--cor1);
}

.p-padrao{
    color: var(--cor1);
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.trabalho{
    height: 100dvh;
    width: 65%;
    background-image: url(elipse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 70%;
    margin: 60px 0px;
}

button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 25px 50px;
    font-family: var(--fonteBtn);
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor7);
    color: var(--cor1);
    box-shadow: 0px 1px 4px rgba(49, 1, 1, 0.2);
}

.sushi-man{
    display: flex;
    justify-content: center;
    width: 25%;
}

.sushi-man img{
    width: 100%;
}
