@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --fonteH: "Kaisei Tokumin", serif;
    --fonteP: "Inter", sans-serif;
    --fonteBtn: "Chivo Mono", monospace;

    --cor1: #f8f8f8;
    --cor2: #ececec;
    --cor3: #101010;
    --cor4: #FDC9C9;
    --cor5: #DD625B;
    --cor6: #AB3A34;
    --cor7: #460400;
    --cor8: #2E0404;
}

.border{
    border: 3px solid black;
}

body{
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.h1-padrao{
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 1.25%;
    width: 70%;
}

.p-padrao{
    font-family: var(--fonteP);
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4%;
    background-color: var(--cor1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
    z-index: 100;
}

.logo-header{
    width: 100px;
}

ul{
    display: flex;
}

li {
    margin-right: 80px;
    list-style: none;
    padding: 10px 0px;
}

li a {
    text-decoration: none;
    font-family: var(--fonteH);
    color: var(--cor3);
    font-weight: medium;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease;
}

li a::before {
    content: '';                    
    position: absolute;             
    bottom: -5px;                  
    left: 0;                   
    width: 0;                       
    height: 3px;                   
    background: var(--cor6);
    transition: width 0.3s ease;    
    border-radius: 50px;             
}

li a:hover::before {
    width: 100%; 
}

li a:hover {
    color: var(--cor6);
}


.btn-contato img{
    width: 60px;
    transition: all ease 0.2s;
}


.btn-contato img:hover{
    transform: scale(1.02);
    content: url(btn-contato-hover.png);
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.principal-mobile{
    display: none;
}

.banner-container{
    background-image: url(main-image.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100dvw;
    height: calc(100dvh - 100px);
}

.titulo-imagem{
    font-weight: 500;
    font-size: 52px;
    letter-spacing: 1.25%;
    width: 32%;
    color: var(--cor1);
    position: absolute;
    bottom: 80px;
    right: 20px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.imagem-gato {
    min-width: 400px;
    width: 75%;
}

.texto-info{
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    margin-left: 5%;
    margin-right: 20%;
}

.menu-container{
    width: 90%;
    margin-top: 120px;
    background-color: var(--cor4);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-menu{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 40px;
    margin-right: 5%;
    padding: 20px 0px;
}

.conteudo-menu a{
    text-decoration: none;
}

.btn_menu{
    display: flex;
    gap: 12px;
    padding: 5% 14%;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor6));
    border-radius: 15px;
    color: var(--cor1);
    border: none;
    font-family: var(--fonteBtn);
    font-weight: 500;
    font-size: 30px;
    margin: 1%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_menu:hover{
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7));
    transform: translateY(-4px) scale(1.02);
}

.img-menu{
    min-width: 360px;
    width: 35%;
}

aside{
    display: none;
}

footer{
    background-color: var(--cor7);
    width: 100%;
    margin-top: 80px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 40px 0px;
}

.footer-container img{
    width: 200px;
}

.footer-itens{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.footer-itens h2{
    font-family: var(--fonteH);
    color: var(--cor1);
    font-size: 24px;
    font-weight: 500;
}

.footer-itens p, .footer-itens a{
    color: var(--cor1);
    font-size: 16px;
    font-family: var(--fonteP);
    font-weight: 300;
    line-height: 22px;
    text-decoration: none; 
}

.footer-end{
    width: 100%;
    background-color: var(--cor8);
    padding: 6px;
}

.footer-end p, .footer-end a{
    font-family: var(--fonteP);
    color: var(--cor1);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.icons{
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: var(--cor1);
}

@media (max-width: 900px){

    .h1-mobile{
        text-align: center;
        font-family: var(--fonteP);
        font-weight: 900;
        width: 90%;
        font-size: 28px;
    }

    .p-mobile{
        width: 80%;
        text-align: justify;
        font-family: var(--fonteP);
        font-size: 16px;
        line-height: 30px;
    }

    .logo-header{
        width: 60px;
    }

    li {
        margin-right: 32px;
    } 
    
    li a {
        font-size: 14px;
    }

    .btn-contato img{
        width: 40px;
    }

    .banner-container{
        width: 100svw;
        height: 100svh;
    }

    .titulo-imagem{
        display: none;
    }

    .principal-mobile{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
        gap: 32px;
    }

    .principal-mobile a{
        text-decoration: none;
    } 

    .btn_menu{
        width: 200px;
        justify-content: center;
        gap: 8px;
        padding: 10% 25%;
        padding-top: 20px;
        border-radius: 10px;
        font-size: 24px;
        margin: 0%;
    }

    .btn_menu:hover{
        transform: none;
    }

    .info-container{
        display: none;
    }

    .menu-container{
        margin-top: 0;
    }

    .menu-container img{
        padding: 40px;
        width: 90%;
    }

    .conteudo-menu{
        display: none;
    }

    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 40px 0px;
    }

    #logo_footer, #termos_footer{
        display: none;
    }

    .footer-itens h2{
        font-size: 24px;
        font-weight: 500;
    }

    .footer-itens p, .footer-itens a{
        font-size: 14px;
        font-weight: 400;
    }

    .footer-end p, .footer-end a{
        font-size: 12px;
    }

    .icons{
        gap: 32px;
        font-size: 28px;
    }
}

@media (max-width: 450px){
    .h1-mobile{
        font-size: 26px;
    }

    .p-mobile{
        font-size: 14px;
        line-height: 28px;
    }

    .logo-header{
        width: 40px;
    }

    .btn-contato img{
        width: 32px;
    }

    li {
        margin-right: 20px;
    } 
    
    li a {
        font-size: 10px;
    }

    .btn_menu{
        padding: 8% 20%;
        font-size: 22px;
    }

    .menu-container img{
        padding: 30px;
        width: 75%;
    }

    .footer-itens h2{
        font-size: 16px;
    }

    .footer-itens p, .footer-itens a{
        font-size: 10px;
    }

    .footer-end p, .footer-end a{
        white-space: nowrap;
        font-size: 10px;
    }

    .icons{
        gap: 20px;
        font-size: 22px;
    }
}